
*{
  box-sizing: border-box;
}

body{

  margin: 0;
}
header{
  margin-top: 10px;
  background-color: #1c87ad;
  height: 60px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

nav{
  position: relative;
  overflow: hidden;
  background-color: #1c87ad;
  border-bottom-style: dashed;
  border-left-style: dashed;
  border-right-style: dashed;
  height:100px;
  text-align: center;

}
nav a{
  margin-top: 22px;
  position: relative;
  overflow: hidden;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-style: outset;
  width: 150px;
  background-color: #77dd77;
  color:black;
  border-color: black;
  box-shadow: 3px 3px black;
}

nav a:hover {
  background-color: lightgrey;
  left: 3px;
  top: 3px;
  box-shadow: 0px 0px;
}


.bar{
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 88;
  background-color: #1c87ad;
  border-radius: 0%;
}

.login{
    background-color: lightgrey;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    margin-top: 30px;
    box-shadow: 5px 5px;

}

#about{
  text-align: right;
}

.logo{
  margin-top: 22px;
  width: 280px;
  position: relative;
  text-align: center;
  display: inline-block;
  font-family: 'Impact', cursive;
  text-shadow: 2px 5px darkslategrey;
  letter-spacing: 4px;
  font-weight: 200;
  color: white;
  font-size: 45;
  cursor: default;
}

#dashboard {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  float: left;
  width: 70%;
}
#dashboard section {
  float: inherit;
  height: 110px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 14;
  position: relative;
  overflow: hidden;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-style: outset;
  width: 30%;
  background-color: #ff9fb6;
  color:black;
  border-color: black;
  transition: background-color .2s, border-width .2s, height .3s, margin-bottom .5s;
}

#dashboard section:hover {
  background-color: lightgrey;
  height:200px;
  transition: background-color .2s, border-width .2s, height .3s;
}

#dashboard section:hover ~ section {
  margin-bottom:120px;
  transition: margin-bottom .2s, border-width .2s, height .3s;
}

.Dash{
  display: flex;
  margin-left: 69;
  align-items: center;
  justify-content: center;
}

.right{
  float: right;
  margin-right: 75px;
}

.left{
  float: left;
  margin-left: 75px;
}

#add{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
  width: 234;
  margin-top: 10;
  cursor: pointer;
}

#username {
  width:234px;
  height:26px;
  border-top-width: 1px;
}

#password{
  width:234px;
  height:52px;
  border-top-width: 1px;
}

.loginText{
  margin-bottom: 10px;
}

.heading{
  text-align: center;
}

.poppy{
  position: relative;
  display: block;
  float: right;
  margin-right;
  align-items: start;
  margin-right: 130px;
  margin-top: 30;
  transition: background-color 2s
}

.popLog{
  position: absolute;
  display: none;
  top: 25;
  background-color: lightgrey;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
  margin-top: 25px;
  box-shadow: -5px 5px;
  z-index: 1;
}

#logButt{
  float: right;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 40;
  width: 234;
  margin-top: 10;
  cursor: pointer;
  text-decoration: none;
  border-style: outset;
  background-color: #fcfc64;
  color:black;
  border-color: black;
  transition: border 1s ease-in-out
}

.poppy:hover  .popLog{
  display: block;
  animation-name: loggerPop;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.poppy:hover #logButt{
  animation-name: borderGone;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes loggerPop {
  from {
    opacity: 0;
    left: -70;
    box-shadow: 0px 5px;
  }

  to{
    opacity: 1;
    left: -42;
    box-shadow: 5px 5px;
  }
}

@keyframes borderGone {
    from{
      border: 1px solid rgba(0, 0, 0, 1);
    }

    to{
      background-color: lightgrey;
      border: 1px solid rgba(0, 0, 0, 0);
      box-shadow: 5px 0px;
      font-weight: 300;
    }
}
